<section>
	<div class="ui dividing header" >
		<h2 style="display: inline-block;">Mes exercices :</h2>
		<div class="ui input">
			<input style="font-size: 14px;" type="text" placeholder="Recherche" ng-model="exercise.searchtraining">
		</div>
	</div>
	<div class="ui horizontal">
		<div class="nodata" ng-if="exercise.noexercises">Tu n'as pas d'exercices enregistrés !</div>
		<div ng-if="!exercise.noexercises" class="exercisebloc" ng-repeat="exo in exercise.exs | filter:{ nameexercise: exercise.searchtraining}">
			<i ng-click="exercise.deleteExercise(exo.idexercise)" class="remove icon"></i>
			<h3>{{ exo.nameexercise }} :</h3>
			<p>Machine: <span ng-if="exo.namemachine!=undefined">{{ exo.namemachine }}</span><span ng-if="exo.namemachine==undefined">Aucune</span></p>
			<p class="descbloc">{{ exo.descexercise }}</p>
		</div>
	</div>
</section>
<section>
		<div class="ui two columns stackable center aligned grid">
				<form class="ui column form" novalidate>
					<h2 class="ui dividing header">Une nouvelle machine?</h2>
					<div class="ui field input">
						<div class="ui action input field">
							<input type="text" maxlength="20" class="ui compact" ng-model="exercise.newmachine" placeholder="Nom de la machine" name="ajoutmachine">
							<button class="ui button" ng-click="exercise.addMachine()"><i class="plus icon"></i></button>
					    </div>
					</div>
					<div class="ui " style="max-height: 400px; overflow: auto;">
						<div ng-repeat="mch in exercise.mchs">
							<span>{{ mch.namemachine }}</span>
							<i class="remove icon" ng-click="exercise.deleteMachine(mch.idmachine)"></i>
						</div>
					</div>
				</form>
				<form class="ui form column" novalidate>
						<h2 class="ui dividing header">Ajoutez un exercice:</h2>
							<div class="field">
								<div class="ui two fields">
								<div class="field">
									<select class="ui compact dropdown" ng-model="exercise.choixmachine" name="mach">
										<option value="">Aucune Machine</option>
										<option ng-repeat="mch in exercise.mchs" value="{{ mch.idmachine }}">{{ mch.namemachine }}</option>
										</select>
								</div>
									<div class="ui field labeled input">
										<div class="ui label">
											Nom
										</div>
										<input type="text" maxlength="20" ng-model="exercise.nameexercise" name="nmExercice" placeholder="20 caractères max" require>
									</div>
								</div>
								<div class="field">
									<div class="ui form">
										<div class="field">
											<label>Ton exercice en quelques mots</label>
											<textarea rows="1" maxlength="128" placeholder="128 caractères max" ng-model="exercise.descexercise"></textarea>
										</div>
									</div>
								</div>

								<div class="ui divider"></div>
								<div class="ui input field">
										<button class="ui button" ng-click="exercise.addExercice()"><i class="plus icon"></i>Ajout Exercice</button>
								</div>
							</div>

				</form>
			</div>
</section>
