<div  ng-controller="HeaderCtrl as header" id="header">
	<div id="subHead">
		<h1 class="bigTitle font">MaMuscu</h1>
	</div>
	<nav id="navHead" ng-show="showMenu">
		<div class="ui five item  menu">
        	<a class="item" ng-click="header.goTo('/mon-espace')">Accueil</a>
	        <a class="item" ng-click="header.goTo('/mes-entrainements')">Mes Entrainements</a>
	        <a class="item" ng-click="header.goTo('/mes-exercices')">Mes Exercices</a>
	        <a class="item" ng-click="header.goTo('/mes-donnees')">Mes Donnees</a>
	        <a class="item" ng-click="header.logout()">Deconnexion</a>
		</div>
	</nav>
</div>