<div class="lobby">
	<form novalidate ng-submit="reg()">
		<input type="text" ng-model="firstname" placeholder="Prénom" name="firstname" require>
		<input type="text" ng-model="lastname" placeholder="Nom" name="lastname" require>
		<input type="email" ng-model="email" placeholder="Email" name="email" require>
		<input type="text" ng-model="pseudo" placeholder="Pseudo" name="pseudo" require>
		<input type="password" ng-model="pwd1" placeholder="Mot de Passe" name="pwd1" require>
		<input type="password" ng-model="pwd2" placeholder="Confirmation Mot de Passe" name="pwd2" require>
		<input type="submit"  value="S'inscrire">
	</form>
</div>