<div class="lobby">
	<p ng-hide="!wrongAuth">Mauvais Identifiant ou Mot de passe</p>
	<form novalidate class="ui form segment myForm" ng-submit="login.login()">
		<h2 class="ui dividing header">Connecte toi!</h2>
		<div class="field">
				<div class="ui field labeled input">
					<div class="ui label">
						Prenom
					</div>
					<input type="text" ng-model="login.log" placeholder="Pseudo ou Email" name="login" require>
				</div>
				<div class="ui field labeled input">
					<div class="ui label">
						Nom
					</div>
					<input type="password" ng-model="login.pwd" placeholder="Mot de Passe" name="password" require>
				</div>
		</div>
		<div class="field">
			<input class="ui button primary" type="submit"  value="Let's go!">
			<input class="ui button primary" type="submit" ng-click="login.goTo('/register')" value="Pas de compte?">
		</div>
	</form>
</div>