<section>
	<h2 class="ui dividing header">Mes entrainements : </h2>
	<div class="horizontal">
		<div ng-click="training.goTo(trgs.idtraining)" class="exercisebloc" ng-repeat="trgs in training.trainings">
			<i ng-click="training.deleteTraining(trgs.idtraining)" class="remove icon"></i>
			<h3>{{ trgs.nametraining }} : </h3>
			<p>{{ trgs.totaltime }} minutes</p>
			<p ng-repeat="(key, t) in trgs.exercises track by t.numero">
				<span>{{ key + 1 }}: {{ t.nameexercise }}</span>
			</p>
		</div>
	</div>
</section>
<section>
	<h2 class="ui header dividing">Nouvel entrainement: </h2>
	<div>
		<form class="ui form" novalidate>
			<div class="ui two columns stackable center aligned grid">
				<div class="column">
					<h3 class="ui header dividing">Ajoute tes exercices un par un...</h3>
					<div class="ui two fields input">	
						<select class="ui field dropdown" ng-change="training.typeChange()" ng-model="training.type">
							<option value="">Type d'exercice</option>
							<option value="0">Cardio</option>
							<option value="1">Muscu</option>
						</select>
						<div class="ui field input">
							<select class="ui dropdown" type="text" ng-model="training.exercisechosen" name="mach">
								<option value="">Quel exercice?</option>
								<option ng-repeat="exs in training.exs" value="{{ exs }}">{{ exs.nameexercise }}</option>
							</select>
						</div>
					</div>
					<div class="ui field">
						<div class="ui field labeled input">
							<div class="ui label">
								Durée: (minutes)
							</div>
							<input type="number" placeholder="Combien de temps?" ng-model="training.last" name="last">
						</div>
						<div ng-show="!training.isCardio" class="two fields">
							<div class="ui field labeled input">
								<div class="ui label">
									Nb de séries:
								</div>
								<input type="number" placeholder="Nombre de séries" ng-model="training.nbseries" name="nbseries">
							</div>
							<div class="ui field labeled input">
								<div class="ui label">
									Nb par série:
								</div> 
								<input type="number" placeholder="Séries de combien?" ng-model="training.nbforeachseries" ng-show="!training.isCardio" name="nbforeachseries">
							</div>
						</div>
					</div>
					<div class="field">
						<button class="ui button black" ng-click="training.addExercise()">Ajout d'un exercice</button>
					</div>
				</div>
				
				<div class="column">
					<h3 class="ui header dividing">Tes exercices sont prets?</h3>
					<div class="field">
						<input type="text" ng-model="training.nametraining" placeholder="Nom de l'entrainement" name="nametg">
					</div>
					<div class="field">
						<textarea type="text" cols="30" rows="5" ng-model="training.desctraining" placeholder="Description" name="desctg"></textarea>
					</div>
					<div class="field">
						<button class="ui button black" type="submit" ng-click="training.addTraining()">Ajouter l'entrainement<i ng-show=""this.wait" class="spinner icon"></i></button>
					</div>
				</div>
				
			</div>
		</form>
	</div>
</section>
<section>
	<div>
		<div class="horizontal" ng-repeat="exercise in training.trainingExercises">
			<p>
				<span>Exercice n°{{ exercise.numero }} : {{ exercise.nameexercise }}</span>
				<p>Durée: {{ exercise.last }} minutes</p>
				<p ng-if="exercise.numbertimes != undefined">Séries: {{ exercise.numbertimes }} x {{ exercise.numbereachtime }}</p>
			</p>
		</div>
	</div>
</section>