<section>
	<h2 class="ui dividing header">Identité: </h2>
	<div class="ui ">
		<div class="ui labelled">
			<div class="ui mylabel label">
				Prénom:
			</div>
			<span>{{ userdata.firstname }}</span>
		</div>
		<div class="ui labelled">
			<div class="ui mylabel label">
				Nom:
			</div>
			<span>{{ userdata.lastname }}</span>
		</div>
		<div class="ui labelled">
			<div class="ui mylabel label">
				Pseudo:
			</div>
			<span>{{ userdata.pseudo }}</span>
		</div>
		<div class="ui labelled">
			<div class="ui mylabel label">
				Email:
			</div>
			<span>{{ userdata.email }}</span>
		</div>
		<div class="ui divider"></div>
		<button type="button" class="ui button red" ng-click="userdata.deleteUser()" name="button">Supprimer mon compte</button>
	</div>
</section>
