@font-face {
    font-family: heroesLegend;
    src: url(assets/fonts/avangeance.ttf);
}

html, body
{
	width: 100%;
	background-image: url(../images/salleMuscu.png);
	background-size: cover;
	background-repeat: no-repeat;
}

.font
{
	font-family: heroesLegend;
}

#header
{
	font-family: heroesLegend;
	width: 100%;
	background-color: #EEEEEE;
	color: white;
}

.lobby
{
	margin-top: 40px;
}

.bigTitle {
	font-size: 50px;
	margin: 0;
}

.myForm
{
	margin-top: 15px;
	width: 50%;
	margin: auto;
}

.resizable
{
	resize: true;
}

#subHead
{
	padding-left: 10px;
	background: #a90329; /* Old browsers */
	background: -moz-linear-gradient(left, #a90329 0%, #8f0222 44%, #6d0019 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #a90329 0%,#8f0222 44%,#6d0019 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #a90329 0%,#8f0222 44%,#6d0019 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=1 );;
}

.myButtons
{
	margin: 20px;
}


@media (max-width: 768px)
{
	#header *
	{
		padding: 0px;
		text-align: center;
	}

	.myForm
	{
		width: inherit;
	}
}

@media (min-width: 1281px)
{

}