@font-face {
    font-family: heroesLegend;
    src: url(assets/fonts/avangeance.ttf);
}

html, body
{
	width: 100%;
	height: 100%;
	background-image: url(../images/salleMuscu.png);
	background-size: cover;
	background-repeat: no-repeat;
}

input.ng-invalid {
    background-color: pink;
}
input.ng-valid {
    background-color: lightgreen;
}

h3
{
	margin-top:5px;
}

.horizontal{
    width: 100%;
    overflow-x: scroll;
    white-space: nowrap;
}

section
{
	background-color: white;
	margin: 5px;
	padding: 14px;
}

.nodata
{
  font-size: 20px;
  padding: 14px;
}

.font
{
	font-family: heroesLegend;
}

#header
{
	width: 100%;
	background-color: #EEEEEE;
	color: white;
}

.lobby
{
	margin-top: 40px;
}

.bigTitle
{
	font-size: 50px;
}

.myForm
{
	margin-top: 15px;
	width: 50%;
	margin: auto;
}

.mylabel
{
  width: 100px;
}

.resizable
{
	resize: true;
}

.exercisebloc, .performancebloc
{

  position: relative;
	padding: 18px;
	background-color: rgba(255, 128, 0, 1);
	border-radius: 1px;
	margin: 5px;
	width: auto;
	height: 150px;
	display: inline-block;
	overflow-y: auto;
	overflow-x: hidden;
	transition: box-shadow 0.5s;
	box-shadow: 0 0 1px 1px rgba(0,0,0,0.3) ;


}

.descbloc
{
  display: block;
}



.exercisebloc:hover, .performancebloc:hover
{
  box-shadow: 0 0 10px 6px rgba(0,0,0,0.3) ;

}

.performancebloc
{
	height: 250px;
}

.touch
{
	position: absolute;
    top: 0px;
    left: 0px;
}

#subHead
{
	padding: 0px;
	text-align: center;
	background: #a90329; /* Old browsers */
	background: -moz-linear-gradient(left, #a90329 0%, #8f0222 44%, #6d0019 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #a90329 0%,#8f0222 44%,#6d0019 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #a90329 0%,#8f0222 44%,#6d0019 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=1 );;
}

.myButtons
{
	margin: 20px;
}


.exercisebloc .remove.icon
{
	position: absolute;
    top: 0px;
    right: 0px;
}

.performancebloc .remove.icon
{
	position: absolute;
    top: 0px;
    right: 0px;
}

.trainingname
{
	text-shadow: 0px 0px 3px #ff0000;
	transition: text-shadow 0.5s;
}

.trainingname i
{
	visibility: hidden;
}

.trainingname:hover
{
	text-shadow: 1px 1px 5px #ff0000;
}

.trainingname:hover i
{
	visibility: visible;
}


@media (max-width: 768px)
{
	#navHead *
	{
		padding: 0px;
		text-align: center;
		font-size: 10px;
	}

	.bigTitle
	{
		font-size: 30px;
	}

	.myForm
	{
		width: inherit;
	}
}

::-webkit-scrollbar
{
  width: 6px;  /* for vertical scrollbars */
  height: 6px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb
{
  background: rgba(0, 0, 0, 0.5);
}
